---
name: Deploy API

on:
  workflow_run:
    workflows:
      - "Build and Push API"
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-api:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Dokploy API Deployment
        run: |
          curl --request POST \
            '${{ secrets.DOKPLOY_API_URL }}/api/application.deploy' \
            --header 'accept: application/json' \
            --header 'x-api-key: ${{ secrets.DOKPLOY_API_KEY }}' \
            --header 'Content-Type: application/json' \
            --data '{"applicationId": "${{ secrets.DOKPLOY_API_APPLICATION_ID }}"}'
