---
name: Deploy API

on:
  workflow_run:
    workflows:
      - "Build and Push API"
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy-api:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Dokploy API Deployment
        run: |
          curl --request GET '${{ secrets.DOKPLOY_API_WEBHOOK_URL }}'
