# Git
.git
.gitignore

# Documentation
*.md
README.md

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules
.pnpm-store

# Build
.next
out

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Docker
Dockerfile*
.dockerignore

# Misc
.eslintcache
